<!-- Bell Icon with Notification Counter -->
{% if notification_count > 0 %}
<li class="nav-item dropdown">
  <div>
    <a class="nav-link text-light dropdown-toggle" href="#" id="pendingActionsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-bell" aria-hidden="true"></i>
      <!-- Notification Counter -->
      <span class="badge rounded-pill bg-danger" style="font-size: 0.8em; padding: 0.3em 0.6em; z-index: -2">{{ notification_count }}</span>
    </a>

    <!-- Dropdown Container -->
    <ul
      class="dropdown-menu"
      aria-labelledby="pendingActionsDropdown"
      style="
        max-height: 600px;
        overflow-y: auto;
        width: 600px;
        max-width: 100%;
        padding: 0;
        position: absolute;
        z-index: 1050;
        left: unset;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
      "
    >
      {% for app, actions in pending_actions.items %} {% if actions %} {% for type, action_list in actions.items %} {% if action_list|length > 0 %}
      <!-- App and Type Header -->
      <li class="dropdown-header notifications-header">{{ app }} > {{ type }}</li>
      <!-- Messages Table -->
      <table class="table table-bordered table-hover table-sm" style="margin: 0; table-layout: fixed">
        <tbody>
          {% for action in action_list %}
          <tr>
            <td style="padding: 0.5rem">
              <a
                href="{{ action.url }}"
                style="display: block; text-decoration: none; color: inherit; padding: 0.5rem; transition: background-color 0.3s, color 0.3s"
                onmouseover="this.style.backgroundColor='#f5f5f5'; this.style.color='#007bff';"
                onmouseout="this.style.backgroundColor='transparent'; this.style.color='inherit';"
              >
                {{ action.message }}
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br />
      {% endif %} {% endfor %} {% endif %} {% endfor %}
    </ul>
  </div>
</li>
{% endif %}
